<div class="mobile-menu">
    <div class="ui themeable fixed main massive menu mobile">
        <div class="ui container">
            <a class="left menu launch icon item">
                <i class="content icon"></i>
            </a>
            <a href="#" class="item">
                hacka-news
            </a>
            <a class="right options launch icon item">
                <i class="options icon"></i>
            </a>
        </div>
    </div>
</div>
