<div class="item">
  <h4>Settings</h4>
</div>
<% if ( type == "mobile" ) { %>
<div class="header item">
<% } else { %>
<div class="header">
<% } %>
  <i class="paint brush icon"></i>
  Theme
</div>
<% if ( type == "mobile" ) { %>
<div class="item">
<% } %>
  <div class="item" id="regular">
    <div class="ui orange empty label"></div>
    Regular
  </div>
  <div class="item" id="night">
    <div class="ui black empty label"></div>
    Night Mode
  </div>
<% if ( type == "mobile" ) { %>
</div>
<% } %>